'scopeName': 'source.thbasic'
'name': 'Telehack BASIC 2.0' # Mostly copied from Commadore BAISC 2.0 language package
'fileTypes': ['bas', 'basic']
'patterns': [
# deprecated
#  { # lines that do not begin with a line number are marked invalid
#    'match': '^\\D+'
#    'name': 'invalid.illegal.thbasic'
#  }
  { # numeric constants, which may include scientific notation
    'match': '(^\\d+)|(\\b(([0-9]+(\\.|\\s*E\\s*)?[0-9]*)|(\\.[0-9]+))\\b)'
    'captures':
      '1':
        'name': 'markup.bold.thbasic'
      '2':
        'name': 'constant.numeric.thbasic'
    'name': 'meta.constant.thbasic'
  }
  {
    'match': '^<\\D+>'
    'name': 'constant.numeric.thbasic'
  }
  { # strings
    'match': '(")([^"]*(")|.*\\n|.*$)'
    'captures':
      '1':
        'name': 'punctuation.definition.string.begin.thbasic'
      '2':
        'name': 'string.quoted.double.thbasic'
      '3':
        'name': 'punctuation.definition.string.begin.thbasic'
    'name': 'meta.string.quoted.double.thbasic'
  }
  { # labels
    'match': '(<)([a-z]+\\S(>))'
    'name': 'constant.numeric.thbasic'
  }
  { # operators
    'match': ':|;|=|\\+|-|\\*|/|\\^|\\?|!|\\[|\\]|"|&|<|>|<>|\\\\|@'
    'name': 'keyword.operator.thbasic'
    #'name': 'constant.numeric.thbasic'
  }
# { # functions
#   'match': '\\b([A-Z]+\\$?)\\s*\\([^)]+\\)'
#   'captures':
#     '1':
#       'name': 'entity.name.function.thbasic'
# }

# BEGIN TH_ ADDONS
  { #TH_SYSLEVEL command
    'match': '\\b((?i)TH_SYSLEVEL)\\b'
    'name': 'keyword.control.thbasic'
  }
  { #TH_HASBADGE command
    'match': '\\b((?i)TH_HASBADGE)\\b'
    'name': 'keyword.control.thbasic'
  }
  { #TH_HASLOGIN command
    'match': '\\b((?i)TH_HASLOGIN)\\b'
    'name': 'keyword.control.thbasic'
  }
  { #TH_HASROOT command
    'match': '\\b((?i)TH_HASROOT)\\b'
    'name': 'keyword.control.thbasic'
  }
  { #TH_HASADMIN command
    'match': '\\b((?i)TH_HASADMIN)\\b'
    'name': 'keyword.control.thbasic'
  }
  { #TH_DEFGROUP$ variable
    'match': '\\b((?i)TH_DEFGROUP\\$)(\\b|\\s)'
    'name': 'variable.language.thbasic'
  }
  { #TH_PLAN$ variable
    'match': '\\b((?i)TH_PLAN\\$)(\\b|\\s)'
    'name': 'variable.language.thbasic'
  }
  { #TH_TIME variable
    'match': '\\b((?i)TH_TIME)\\b'
    'name': 'variable.language.thbasic'
  }
  { #TH_LOCALTIME($) variable
    'match': '\\b((?i)TH_LOCALTIME(\\$|\\b))'
    'name': 'variable.language.thbasic'
  }
  { #TH_GMTIME($) variable
    'match': '\\b((?i)TH_GMTIME(\\$|\\b))'
    'name': 'variable.language.thbasic'
  }
  { #TH_MODEM$ variable
    'match': '\\b((?i)TH_MODEM\\$)(\\b|\\s)'
    'name': 'variable.language.thbasic'
  }
  { #TH_HOSTNAME$ variable
    'match': '\\b((?i)TH_HOSTNAME\\$)(\\b|\\s)'
    'name': 'variable.language.thbasic'
  }
  { #TH_NETSTAT$ variable
    'match': '\\b((?i)TH_NETSTAT\\$)(\\b|\\s)'
    'name': 'variable.language.thbasic'
  }
  { #TH_MD5HEX$ function
    'match': '\\b((?i)TH_MD5HEX\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { #TH_MD5BASE64$ function
    'match': '\\b((?i)TH_MD5BASE64\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { #TH_B64E$ function
    'match': '\\b((?i)TH_B64E\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { #TH_B64D$ function
    'match': '\\b((?i)TH_B64D\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { #TH_EXEC command
    'match': '\\b((?i)TH_EXEC)\\b'
    'name': 'keyword.control.thbasic'
  }
  { #TH_RE($) command
    'match': '\\b((?i)TH_RE(\\$|\\b))'
    'name': 'keyword.control.thbasic'
  }
  { #TH_REV$ command
    'match': '\\b((?i)TH_RE\\$)(\\b|\\s)'
    'name': 'keyword.control.thbasic'
  }
  { #TH_SED$ command
    'match': '\\b((?i)TH_SED\\$)(\\b|\\s)'
    'name': 'keyword.control.thbasic'
  }
  { #TH_SPRINTF$ command
    'match': '\\b((?i)TH_SPRINTF\\$)(\\b|\\s)'
    'name': 'keyword.control.thbasic'
  }
  { #TH_UUE$ function
    'match': '\\b((?i)TH_UUE\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { #TH_UUD$ function
    'match': '\\b((?i)TH_UUD\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
# END ADDONS

  { # functions without arguments are invalid
    'match': '\\b([A-Z]+\\$?)\\s*\\(\\)'
    'name': 'invalid.illegal.thbasic'
  }
  { # ABS function
    'match': '\\b((?i)ABS)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # AND operator
    'match': '\\b((?i)AND)\\b'
    'name': 'keyword.operator.thbasic'
  }
  { # AS function
    'match': '\\b((?i)AS)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # ASC function
    'match': '\\b((?i)ASC)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # ARG command
    'match': '\\b((?i)ARG\\$)(\\b|\\s)'
    'name': 'keyword.control.thbasic'
  }
  { # ARGV$ command
    'match': '\\b((?i)ARGV\\$)(\\b|\\s)'
    'name': 'keyword.control.thbasic'
  }
  { # ARGC% command
    'match': '\\b((?i)ARGC\\%)(\\b|\\s)'
    'name': 'keyword.control.thbasic'
  }
  { # ATN function
    'match': '\\b((?i)ATN)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # BEEP command
    'match': '\\b((?i)BEEP)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # BIN$ function
    'match': '\\b((?i)BIN\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { # BRK function (technically deprecated in th_basic)
    'match': '\\b((?i)BRK)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # CHR$ function
    'match': '\\b((?i)CHR\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { # CINT function
    'match': '\\b((?i)CINT)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # CLOSE command
    'match': '\\b((?i)CLOSE)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # CLEAR command
    'match': '\\b((?i)CLEAR)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # CLS command
    'match': '\\b((?i)CLS)\\b'
    'name': 'keyword.control.thbasic'
  }
  # deprecated (does nothing in th_basic)
  #{ # CMD command
  #  'match': '\\b((?i)CMD)\\b'
  #  'name': 'entity.name.function.thbasic'
  #}
  #{ # CONT command
  #  'match': '\\b((?i)CONT)'
  #  'name': 'keyword.control.thbasic'
  #}
  { # COLOR command
    'match': '\\b((?i)COLOR)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # COS function
    'match': '\\b((?i)COS)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # CSNG function
    'match': '\\b((?i)CSNG)\\b'
    'name': 'entity.name.function.thbasic'
  }
  # deprecated (error in th_basic)
  #{ # CTL function
  #  'match': '\\b((?i)CTL)\\b'
  #  'name': 'entity.name.function.thbasic'
  #}
  #{ # D2R function
  #  'match': '\\b((?i)D2R)\\b'
  #  'name': 'entity.name.function.thbasic'
  #}
  { # DATA command
    'match': '\\b((?i)DATA)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # DATE variable
    'match': '\\b((?i)DATE)\\b'
    'name': 'variable.language.thbasic'
  }
  { # DEF command
    'match': '\\b((?i)DEF(\\s*)?((?i)FN)?)'
    'name': 'keyword.control.thbasic'
  }
  { # DEFDBL command
    'match': '\\b((?i)DEFDBL)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # DEFINT command
    'match': '\\b((?i)DEFINT)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # DEFSNG command
    'match': '\\b((?i)DEFSNG)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # DEFSTR command
    'match': '\\b((?i)DEFSTR)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # DIM command
    'match': '\\b((?i)DIM)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # DIR$ variable
    'match': '\\b((?i)DIR\\$)(\\b|\\s)'
    'name': 'variable.language.thbasic'
  }
  { # END command
    'match': '\\b((?i)END)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # EOF command
    'match': '\\b((?i)EOF)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # EXP function
    'match': '\\b((?i)EXP)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # FOR command
    'match': '\\b((?i)FOR)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # GET command
    'match': '\\b((?i)GET)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # GOSUB command
    'match': '\\b((?i)GOSUB)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # GOTO command
    'match': '\\b((?i)GO(\\s*)?(?i)TO)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # HEIGHT function
    'match': '\\b((?i)HEIGHT)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # HEX$ function
    'match': '\\b((?i)HEX\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { # IF command
    'match': '\\b((?i)IF)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # INKEY$ function
    'match': '\\b((?i)INKEY\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { # INPUT$ command
    'match': '\\b((?i)INPUT\\$)(\\b|\\s)'
    'name': 'keyword.control.thbasic'
  }
  { # INSTR command
    'match': '\\b((?i)INSTR)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # INT command
    'match': '\\b((?i)INT)\\b'
    'name': 'keyword.control.cbmbasi'
  }
  { # ITM function
    'match': '\\b((?i)ITM)\\b'
    'name': 'entity.name.function.thbasic'
  }
  # deprecated (command in telehack although appears to do nothing) (note: takes arguments on/off)
  #{ # KEY function
  #  'match': '\\b((?i)KEY)\\b'
  #  'name': 'entity.name.function.thbasic'
  #}
  { # LEFT$ function
    'match': '\\b((?i)LEFT\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { # LEN function
    'match': '\\b((?i)LEN)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # LET command
    'match': '\\b((?i)LET)\\b'
    'name': 'keyword.control.thbasic'
  }
  # deprecated (does nothing in th_basic)
  #{ # LG command
  #  'match': '\\b((?i)LG)'
  #  'name': 'keyword.control.thbasic'
  #}
  { # LIN command
    'match': '\\b((?i)LIN)\\b'
    'name': 'keyword.control.thbasic'
  }
  # deprecated (does nothing in th_basic)
  #{ # LINE command
  #  'match': '\\b((?i)LINE)\\b'
  #  'name': 'keyword.control.thbasic'
  #}
  #{ # LN command
  #  'match': '\\b((?i)LN)'
  #  'name': 'keyword.control.thbasic'
  #}
  { # LOCATE command
    'match': '\\b((?i)LOCATE)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # LOG function
    'match': '\\b((?i)LOG)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # LOG10 function
    'match': '\\b((?i)LOG10)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # MOD operator
    'match': '\\b((?i)MOD)\\b'
    'name': 'keyword.operator.thbasic'
  }
  { # MID$ function
    'match': '\\b((?i)MID\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  # deprecated
  #{ # NEW command
  #  'match': '\\b((?i)NEW)'
  #  'name': 'keyword.control.thbasic'
  #}
  { # NEXT command
    'match': '\\b((?i)NEXT)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # NINT function
    'match': '\\b((?i)NINT)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # NOT operator
    'match': '\\b((?i)NOT)\\b'
    'name': 'keyword.operator.thbasic'
  }
  { # OCT$ function
    'match': '\\b((?i)OCT\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { # ON command
    'match': '\\b((?i)ON)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # OPEN command
    'match': '\\b((?i)OPEN)\\b'
    'name': 'keyword.control.thbasic'
  }
  # deprecated (does nothing)
  #{ # PCLEAR0 function
  #  'match': '\\b((?i)PCLEAR0)\\b'
  #  'name': 'entity.name.function.thbasic'
  #}
  #{ # PCLEAR1 function
  #  'match': '\\b((?i)PCLEAR1)\\b'
  #  'name': 'entity.name.function.thbasic'
  #}
  { # PEEK command
    'match': '\\b((?i)PEEK)\\b'
    'name': 'keyword.control.thbasic'
  }
  # deprecated (does nothing)
  #{ # PMODE0 function
  #  'match': '\\b((?i)PMODE0)\\b'
  #  'name': 'entity.name.function.thbasic'
  #}
  { # POKE command
    'match': '\\b((?i)POKE)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # POLKEY$ command
    'match': '\\b((?i)POLKEY\\$)(\\b|\\s)'
    'name': 'keyword.control.thbasic'
  }
  { # PORT% variable
    'match': '\\b((?i)PORT\\%)(\\b|\\s)'
    'name': 'variable.language.thbasic'
  }
  { # POS function
    'match': '\\b((?i)POS)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # PRINT command
    'match': '\\b((?i)PRINT)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # R2D function
    'match': '\\b((?i)R2D)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # RANDOMIZE command
    'match': '\\b((?i)RANDOMIZE)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # READ command
    'match': '\\b((?i)READ)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # REC command
    'match': '((?i)REC)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # REM command (comments)
    'match': '((?i)REM.*(\\n|$))'
    'name': 'comment.line.thbasic'
  }
  { # REM command (')
    'match': '(\'.*(\\n|$))'
    'name': 'comment.line.thbasic'
  }
  { # RESTORE command
    'match': '\\b((?i)RESTORE)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # RETURN command
    'match': '\\b((?i)RETURN)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # RIGHT$ function
    'match': '\\b((?i)RIGHT\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { # RND function
    'match': '\\b((?i)RND)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # RUN command (marked as error. although technically a command, entering in a program causes a freeze)
    'match': '\\b((?i)RUN)\\s'
    'name': 'invalid.illegal.thbasic'
  }
  { # SCR command
    'match': '\\b((?i)SCR)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # SCRATCH command
    'match': '\\b((?i)SCRATCH)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # SGN function
    'match': '\\b((?i)SGN)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # SIN function
    'match': '\\b((?i)SIN)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # SLEEP command
    'match': '\\b((?i)SLEEP)\\b'
    'name': 'keyword.control.thbasic'
  }
  # deprecated (returns syntax error in basic)
  #{ # SPA function
  #  'match': '\\b((?i)SPA)\\b'
  #  'name': 'entity.name.function.thbasic'
  #}
  { # SPACE$ function
    'match': '\\b((?i)SPACE\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { # SPC$ function
    'match': '\\b((?i)SPC\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { # SQR function
    'match': '\\b((?i)SQR)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # SQRT function
    'match': '\\b((?i)SQRT)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # STOP command
    'match': '\\b((?i)STOP)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # STR$ function
    'match': '\\b((?i)STR\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { # STRING$ function
    'match': '\\b((?i)STRING\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  # deprecated (indexed in basic.man, although returns nothing)
  #{ # SYS system variable
  #  'match': '\\b((?i)SYS)\\b'
  #  'name': 'variable.language.thbasic'
  #}
  # deprecated (doesnt exist in th_basic, only in original basic)
  #{ # SYSTEM system variable
  #  'match': '\\b((?i)SYSTEM)\\b'
  #  'name': 'variable.language.thbasic'
  #}
  { # TAB$ function
    'match': '\\b((?i)TAB(\\$|\\b))'
    'name': 'entity.name.function.thbasic'
  }
  { # TAN function
    'match': '\\b((?i)TAN)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # THEN command
    'match': '\\b((?i)THEN)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # TIM variable
    'match': '\\b((?i)TIM)\\b'
    'name': 'variable.language.thbasic'
  }
  { # TIME/TIME$ system variables
    'match': '\\b((?i)TIME(\\$|\\b))'
    'name': 'variable.language.thbasic'
  }
  { # TIMER variable
    'match': '\\b((?i)TIMER)\\b'
    'name': 'variable.language.thbasic'
  }
  { # TROFF/ON command
    'match': '\\b((?i)TR(OFF|ON))\\b'
    'name': 'keyword.control.thbasic'
  }
# deprecated
#  { # TI/TI$ system variables
#    'match': '\\b((?i)TI(\\$|\\b))'
#    'name': 'variable.language.thbasic'
#  }
  { # TO command
    'match': '\\b((?i)TO)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # TYP command
    'match': '\\b((?i)TYP)\\b'
    'name': 'keyword.control.thbasic'
  }
  { # UPS$ function
    'match': '\\b((?i)UPS\\$)(\\b|\\s)'
    'name': 'entity.name.function.thbasic'
  }
  { # USER$ function
    'match': '\\b((?i)USER\\$)(\\b|\\s)'
    'name': 'variable.language.thbasic'
  }
  { # VAL function
    'match': '\\b((?i)VAL)\\b'
    'name': 'entity.name.function.thbasic'
  }
  { # WIDTH function
    'match': '\\b((?i)WIDTH)\\b'
    'name': 'entity.name.function.thbasic'
  }
]
